.page-background
  .background-left
    img.d-none.d-md-inline-block(src=require("../../images/Background-Left-Desktop.svg"))
    img.d-md-none(src=require("../../images/Background-Left-Mobile.svg"))
  .background-right
    img.d-none.d-md-inline-block(src=require("../../images/Background_Right-Desktop.svg"))
    img.d-md-none(src=require("../../images/Background-Right-Mobile.svg"))