.footer
  .container
    .links-container
      a(href="#service-1") Ортопедические протезы STANMORE IMPLANTS
      a(href="#service-2") Эндопротезы компании STRYKER
      a(href="#service-3") Oscar - ультразвуковой аппарат для ревизионных ортопедических операций
      a(href="#service-4") Проектирование и оснащение операционных блоков и ЦСО
      a(href="#service-5") Поставка и ремонт медицинского оборудования
      a(href="#service-6") Медицинские расходные материалы

    .copy © Медтэк