.sidebar
  button.close-button
    include ../../images/back-icon.svg

  .sidebar-nav
    .center-nav
      a.menu-item(href="#our-services") наши услуги
      a.menu-item(href="#about-us") о компании
      a.menu-item(href="#contacts") контакты
    a.call-button(href="#")
      .text(data-modal="#call-template") обратный звонок

.sidebar-background